<nav>   
    <div>
        <div class="site-title">Node Blog</div>
        <div class="site-subtitle"></div><b>Node</b> hosted, <b>EJS</b> viewed, <b>MongoDB</b> storage with <b><b>Mongoose</b></b></div>
    </div>
    <div class="nav-links-wrapper">
        <div class="nav-link"><a href="/">Blogs</a></div>
        <div class="nav-link"><a href="/about">About</a></div>
        <div class="nav-link"><a href="/blogs/create">New Blog</a></div>
    </div>
</nav>