<nav>   
    <div>
        <div class="site-title"><%= site_title %></div>
        <div class="site-subtitle"></div>Node Hosted, EJS Viewed</div>
    </div>
    <div class="nav-links-wrapper">
        <div class="nav-link"><a href="/">Blogs</a></div>
        <div class="nav-link"><a href="/about">About</a></div>
        <div class="nav-link"><a href="/blogs/create">New Blog</a></div>
    </div>
</nav>